<!doctype html>
<html lang="en">
    <head>
        <title>Home SakuraVoid</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script src="https://kit.fontawesome.com/5d505c9b72.js" crossorigin="anonymous"></script>
        <style>
            body {
                background: black;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .form-control {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                color: white;
                border-radius: 0;
            }

            .form-control:focus {
                box-shadow: none;
                border-color: #7979f8;
            }

            input::placeholder,
            textarea::placeholder {
                color: gray !important;
                opacity: 1 !important;
            }


            .anime-card {
                cursor: pointer;
                transition: transform 0.2s;
                font-size: 0.9rem;
                
            }

            .anime-card:hover {
                transform: scale(1.01);
            }

            .btn-ver {
                  background: linear-gradient(to right, #007bff, #ff69b4);
                    color: white;
                    font-size: 12px;
                    margin-bottom: 10px; 
                    color: white; 
                    border: none; 
                    border-radius: 4px;
            }

            .btn-ver:hover {
                background-color: #893bf0;
            }

    
        </style>
        <script src="../controllers/env.js"></script>
        <script src="../controllers/auth_controller.js"></script>
    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #070522;">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav" style="margin-top: 10px;">

                        <ul class="navbar-nav me-auto" style="width: 100%; display: flex; justify-content: flex-start; gap: 40px;">
                            <li class="nav-item" style="display: flex; flex-direction: column; align-items: center;">
                                <a href="home.html" title="Ir al inicio">
                                    <img src="../assets/img/logo_transparente.png" alt="SakuraVoid" style=" width: 150px; height: 70px;">
                                </a>
                            </li>
                        
                            <li class="nav-item" style="display: flex; flex-direction: column; align-items: center;">
                                <a href="favoritos.html" title="favoritos">
                                    <i class="fa-solid fa-heart-circle-plus" title="Favoritos" style="cursor: pointer; font-size: 20px; color: white;"></i>
                                </a>
                                <a class="nav-link" style="color: white; padding: 0;" href="favoritos.html">Favoritos</a>
                            </li>
                        
                            <li class="nav-item" style="display: flex; flex-direction: column; align-items: center;">
                                <a href="upload.html" title="Upload">
                                    <i class="fa-solid fa-cloud-arrow-up" title="Upload" style="cursor: pointer; font-size: 20px; color: white;"></i>
                                </a>
                                <a class="nav-link" style="color: white; padding: 0;" href="upload.html">Upload</a>
                            </li>
                        </ul>

                        <form class="d-flex me-3">
                            <input id="buscar" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn" type="submit">
                                <i class="fa-solid fa-magnifying-glass" id="iconobuscar" style="color: white;"></i>
                            </button>
                        </form>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas" style="font-size: 22px; color: white;">&#xf007;</i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="perfil.html">Ver mi perfil</a></li>
                                <li><a class="dropdown-item text-danger" href="#" onclick="logout()">Cerrar sesión</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

            <!-- Modal de Cierre-->
            <div class="modal fade" id="logoutModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cerrar sesion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">¿Estas seguro de que deseas cerrar sesion?</div>
                        <div class="modal-footer">
                            <a href="login.html" class="btn btn-danger" onclick="logout()">Aceptar</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </header>
        
        <main class="container main" style="margin-top: 150px;">


            <!-- Contenedor del carousel e info para centrarlos -->
            <div style="display: flex; justify-content: center; margin-top: 30px;">
                <!-- Carousel -->
                <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 750px; height: 300px; overflow: hidden; border-radius: 10px;">

                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>

                    <!-- Carousel Items -->
                    <div class="carousel-inner" style="width: 100%; height: 100%;">
                        <!-- Slide 1 -->
                        <div class="carousel-item active">
                            <div style="display: flex; height: 250px;">
                                <img src="https://blob.diariodelistmo.com/images/2025/02/06/solo-leveling-temporada-2-fecha-y-hora-de-estreno-para-todos-los-capitulos-focus-0-0-732-549.jpg" 
                                    alt="Solo leveling" style="width: 65%; object-fit: cover;">
                                <div style="width: 35%;  color: white; padding: 10px; margin-top: 30px;">
                                    <h5>Solo Leveling</h5>
                                    <p style="font-size: 12px;">El despertar del cazador más débil del mundo comienza aquí.</p>
                                    <p style="font-size: 12px;"><em>by: <strong>@jinwoo</strong></em></p>
                                    <a href="anime.html" title="MiAnime">
                                        <button type="button" class="btn btn-ver"><strong>Empezar anime</strong></button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 2 -->
                        <div class="carousel-item">
                            <div style="display: flex; height: 250px;">
                                <img src="https://ramenparados.com/wp-content/uploads/2018/09/sakura-1000x600.jpg" 
                                    alt="Sakura Card Captors" style="width: 65%; object-fit: cover;">
                                <div style="width: 35%; color: white; padding: 10px; margin-top: 30px;">
                                    <h5>Sakura Card Captors</h5>
                                    <p style="font-size: 12px;">Descubre la magia de las cartas Clow con Sakura y sus amigos.</p>
                                    <p style="font-size: 12px;"><em>by: <strong>@sakura_kinomoto</strong></em></p>
                                    <a href="anime.html" title="MiAnime">
                                        <button type="button" class="btn btn-ver"><strong>Empezar anime</strong></button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Slide 3 -->
                        <div class="carousel-item">
                            <div style="display: flex; height: 250px;">
                                <img src="https://alfabetajuega.com/hero/2025/04/one-piece.1744026698.2544.jpg?width=1200&aspect_ratio=16:9" 
                                    alt="One Piece" style="width: 65%; object-fit: cover;">
                                <div style="width: 35%; color: white; padding: 10px; margin-top: 30px;">
                                    <h5>One Piece</h5>
                                    <p style="font-size: 12px;">Unete a Luffy en su aventura para convertirse en el Rey de los Piratas.</p>
                                    <p style="font-size: 12px;"><em>by: <strong>@mugiwara</strong></em></p>
                                    <a href="anime.html" title="MiAnime">
                                        <button type="button" class="btn btn-ver"><strong>Empezar anime</strong></button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controles -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>






        <!-- Contenedor de las cards para centrarlas -->
            <div style="display: flex; justify-content: center; padding-top: 30px;">

                <!-- Contenedor de las cards -->
                <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; max-width: 1480px;" >



                    <!-- Card individual -->
                    <div class="anime-card">
                        <div class="card" style="width: 200px; height: 350px; display: flex; flex-direction: column; color: white; background-color: #251479;">

                            <!-- icono fav -->
                            <i class="fa-regular fa-heart favorite-icon" title="Marcar como favorito" 
                            style="position: absolute; top: 10px; right: 10px; color: white; font-size: 20px; cursor: pointer;"></i>

                            <img class="card-img-top" src="https://media.gq.com.mx/photos/66b3e2ab1eb4176c241add84/16:9/w_2240,c_limit/Mejores_series_de_anime.jpg"
                                alt="Card image"
                                style="height: 60%; object-fit: cover;">
                            <div class="card-body" style="height: 40%; overflow: hidden;">
                                <h4 class="card-title" style="font-size: 14px;">Demon Slayer</h4>
                                <p class="card-text" style="font-size: 12px;">Tanjiro Kamado no tiene otra opción más que convertirse en cazador de demonios.</p>
                                <a href="perfil.html" style="background-color: #7F00B2; color: white; font-size: 12px; margin-right: 40px;">by @Seeling23</a>
                                <a href="anime.html" title="MiAnime">
                                    <button class="btn btn-ver"><strong>Ver</strong></button>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!-- Card individual -->
                    <div class="anime-card">
                        <div class="card" style="width: 200px; height: 350px; display: flex; flex-direction: column; color: white; background-color: #251479;">

                            <!-- icono fav -->
                            <i class="fa-regular fa-heart favorite-icon" title="Marcar como favorito" 
                            style="position: absolute; top: 10px; right: 10px; color: white; font-size: 20px; cursor: pointer;"></i>

                            <img class="card-img-top" src="https://media.gq.com.mx/photos/66b3e2ab1eb4176c241add84/16:9/w_2240,c_limit/Mejores_series_de_anime.jpg"
                                alt="Card image"
                                style="height: 60%; object-fit: cover;">
                            <div class="card-body" style="height: 40%; overflow: hidden;">
                                <h4 class="card-title" style="font-size: 14px;">Demon Slayer</h4>
                                <p class="card-text" style="font-size: 12px;">Tanjiro Kamado no tiene otra opción más que convertirse en cazador de demonios.</p>
                                <a href="perfil.html" style="background-color: #7F00B2; color: white; font-size: 12px;">by @Seeling23</a>
                                <a href="anime.html" title="MiAnime">
                                    <button style="margin-left: 50px; font-size: 12px; background: linear-gradient(to right, #007bff, #ff69b4); color: white; border: none; border-radius: 4px;"><strong>Ver</strong></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Card individual -->
                    <div class="anime-card">
                        <div class="card" style="width: 200px; height: 350px; display: flex; flex-direction: column; color: white; background-color: #251479;">

                            <!-- icono fav -->
                            <i class="fa-regular fa-heart favorite-icon" title="Marcar como favorito" 
                            style="position: absolute; top: 10px; right: 10px; color: white; font-size: 20px; cursor: pointer;"></i>

                            <img class="card-img-top" src="https://media.gq.com.mx/photos/66b3e2ab1eb4176c241add84/16:9/w_2240,c_limit/Mejores_series_de_anime.jpg"
                                alt="Card image"
                                style="height: 60%; object-fit: cover;">
                            <div class="card-body" style="height: 40%; overflow: hidden;">
                                <h4 class="card-title" style="font-size: 14px;">Demon Slayer</h4>
                                <p class="card-text" style="font-size: 12px;">Tanjiro Kamado no tiene otra opción más que convertirse en cazador de demonios.</p>
                                <a href="perfil.html" style="background-color: #7F00B2; color: white; font-size: 12px;">by @Seeling23</a>
                                <a href="anime.html" title="MiAnime">
                                    <button style="margin-left: 50px; font-size: 12px; background: linear-gradient(to right, #007bff, #ff69b4); color: white; border: none; border-radius: 4px;"><strong>Ver</strong></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Card individual -->
                    <div class="anime-card">
                        <div class="card" style="width: 200px; height: 350px; display: flex; flex-direction: column; color: white; background-color: #251479;">
                            
                            <!-- icono fav -->
                            <i class="fa-regular fa-heart favorite-icon" title="Marcar como favorito" 
                            style="position: absolute; top: 10px; right: 10px; color: white; font-size: 20px; cursor: pointer;"></i>

                            <img class="card-img-top" src="https://media.gq.com.mx/photos/66b3e2ab1eb4176c241add84/16:9/w_2240,c_limit/Mejores_series_de_anime.jpg"
                                alt="Card image"
                                style="height: 60%; object-fit: cover;">
                            <div class="card-body" style="height: 40%; overflow: hidden;">
                                <h4 class="card-title" style="font-size: 14px;">Demon Slayer</h4>
                                <p class="card-text" style="font-size: 12px;">Tanjiro Kamado no tiene otra opción más que convertirse en cazador de demonios.</p>
                                <a href="perfil.html" style="background-color: #7F00B2; color: white; font-size: 12px;">by @Seeling23</a>
                                <a href="anime.html" title="MiAnime">
                                    <button style="margin-left: 50px; font-size: 12px; background: linear-gradient(to right, #007bff, #ff69b4); color: white; border: none; border-radius: 4px;"><strong>Ver</strong></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Card individual -->
                    <div class="anime-card">
                        <div class="card" style="width: 200px; height: 350px; display: flex; flex-direction: column; color: white; background-color: #251479;">
                            <!-- icono fav -->
                            <i class="fa-regular fa-heart favorite-icon" title="Marcar como favorito" 
                            style="position: absolute; top: 10px; right: 10px; color: white; font-size: 20px; cursor: pointer;"></i>

                            <img class="card-img-top" src="https://media.gq.com.mx/photos/66b3e2ab1eb4176c241add84/16:9/w_2240,c_limit/Mejores_series_de_anime.jpg"
                                alt="Card image"
                                style="height: 60%; object-fit: cover;">
                            <div class="card-body" style="height: 40%; overflow: hidden;">
                                <h4 class="card-title" style="font-size: 14px;">Demon Slayer</h4>
                                <p class="card-text" style="font-size: 12px;">Tanjiro Kamado no tiene otra opción más que convertirse en cazador de demonios.</p>
                                <a href="#" style="background-color: #7F00B2; color: white; font-size: 12px;">by @Seeling23</a>
                                <a href="anime.html" title="MiAnime">
                                    <button style="margin-left: 50px; font-size: 12px; background: linear-gradient(to right, #007bff, #ff69b4); color: white; border: none; border-radius: 4px;"><strong>Ver</strong></button>
                                </a>
                            </div>
                        </div>
                    </div>


                

                
                </div>
            </div>

            <!-- JavaScript para alternar el estado del ícono -->
            <script>
                document.querySelectorAll('.favorite-icon').forEach(icon => {
                    icon.addEventListener('click', () => {
                        icon.classList.toggle('fa-regular');
                        icon.classList.toggle('fa-solid');
                    });
                });
            </script>


        </main>
        <footer class="text-center py-4 mt-5 text-white">
            <div class="contenedor_footer" style="background-color: #1b1a29;">
                <br><p class="mb-0">© 2025 SakuraVoid - Todos los derechos reservados</p>
                <img src="../assets/img/logo_b.png" alt="SakuraVoid" style=" width: 150px; height: 70px; margin: 0 auto; padding: 10px; display: flex; justify-content: center; align-items: center;">
              </div>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script>
            const user = sessionStorage.getItem('user');
            const dropdown = document.getElementById('userDropdown');

            if (!user && dropdown) {
                dropdown.addEventListener('click', () => {
                window.location.href = "login.html";
                });
            }
        </script>

    </body>
</html>
